<h1>msglist</h1>
<form ng-submit="onPostMessage()" onsubmit="return false;">
	<div class="msglist-form">
		<div class="msglist-form-left">
			<span class="control-label">@</span>	
		</div>
		<div class="msglist-form-right">
			<input type="text" ng-model="postText" class="message-input" placeholder="发送消息给{{group.name}}">
			<div class="upload-process" ng-show="upload_process>=0" ng-init="upload_process=-1">
				<div class="upload-process-percent" ng-style="{'width':upload_process+'%'}"></div>
				<div class="upload-process-text">正在上传中({{upload_process}}%)</div>
			</div>	
		</div>
		
		
	</div>
</form>
<div class="msglist-box">
	<msgitem data="item" ng-repeat="item in msglist" ></msgitem>
</div>

<div class="msglist-drag" ng-show="dragTip" msglist-drag="1"  ng-init="dragTip=false">
	<div class="dragTip">将文件拖拽到这里上传</div>
</div>

