<div ng-init="mouseEnter=false;" ng-mouseenter="mouseEnter=true" ng-mouseleave="mouseEnter=false">

    <a class="pull-left thumb-sm avatar m-l-n-md">
        <span image-resize-width="40" image-resize-height="40" image-resize="{{data.user.avatar}}" class="img-circle _avatar"
             alt="..."></span>
    </a>

    <div class="m-l-lg panel b-a">
        <div class="panel-heading pos-rlt b-b b-light">
            <span class="arrow left"></span>
            <span>
                {{data.user.nickname}}
                <span>
                    {{title}}
                </span>
            </span>
            <!--<label class="label bg-info m-l-xs">Editor</label>-->
            <div class="pull-right">
                <span class="text-muted m-l-sm pull-right" ng-hide="mouseEnter">
                    <i class="fa fa-clock-o"></i>
                    {{data.updatedAt | date:'MM-dd HH:mm:ss'}}
                </span>
                <span class="msg-toolbar" ng-show="mouseEnter">
                    <i ng-click="onDel(data)" class="icon-close icon" ng-show="__user.id == data.user.id"></i>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <mkitem group="group" data="data.content.data" ng-if="data.content.type=='MD'"></mkitem>
            <linkitem data="data.content" ng-if="data.content.type=='Link'"></linkitem>
            <plainitem data="data.content" ng-if="data.content.type=='Text'"></plainitem>
            <fileitem  group="group" data="data.content.data" ng-if="data.content.type=='File'"></fileitem>
        </div>
    </div>
</div>
