<div>
    <a class="pull-left thumb-sm avatar m-l-n-md">
        <img image-resize-width="40" image-resize-height="40" image-resize="{{data.avartar}}" class="img-circle" alt="...">
    </a>
    <div class="m-l-lg panel b-a">
        <div class="panel-heading pos-rlt b-b b-light">
            <span class="arrow left"></span>
            <span >
                {{data.nickname}}
                <span>
                    {{title}}
                </span>
            </span>
            <!--<label class="label bg-info m-l-xs">Editor</label>-->
              <span class="text-muted m-l-sm pull-right">
                <i class="fa fa-clock-o"></i>
                {{data.time}}
              </span>
        </div>
        <div class="panel-body">
            <mkitem data="data.content" ng-if="data.type=='mk'"></mkitem>
            <linkitem data="data.content" ng-if="data.type=='link'"></linkitem>
            <plainitem data="data.content" ng-if="data.type=='plain'"></plainitem>
            <fileitem data="data.content" ng-if="data.type=='file'"></fileitem>
        </div>
    </div>
</div>