node_modules
.tmp
.sass-cache
.idea
.markdowns
client/bower_components
dist
/server/config/local.env.js
/.project
/upload
/__test
res-min
bower-libs
bower_components
test.html
.DS_Store
/.resize_cache
