.portrait-panel {
  background: #FFF;
  border: 1px solid #dee5e7;
  width: 60%;
  min-height: 500px;
  position: absolute;
  margin-left: 20%;
  top: 60px;
  z-index: 1;
  .panel-heading {
    .po-ab-rt {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .po-ab-rt-2 {
      position: absolute;
      right: 80px;
      top: 10px;
    }
  }
  .panel-body {
    text-align: center;
    .choose-photo-btn {
      position: absolute;
      left: 20px;
      top: 15px;
      .choose-photo {
        position: absolute;
        width: 80px;
        height: 30px;
        background: #7ca1bb;
        color: #FFF;
      }
      input {
        opacity: 0;
        filter:alpha(opacity=0);//ie
      }
    }
    canvas {
    }
  }

  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .pp-border {
    border: 1px solid #ddd;
  }
  .hide {
    display: none;
  }
}

.cropArea {
  background: #FFF;
  overflow: hidden;
  width:300px;
  height:210px;
  float: left;
}

.avatar-preview-panel {
  text-align: left;
  margin: 20px 60px 60px 60px;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ddd;
  padding: 0 10px 10px 10px;
  text-align: center;
}

.avatar-preview {
  width: 80px;
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .portrait-panel {
    width: 100%;
    margin-left: 0;
  }
  .cropArea {
    width: 100%;
  }
}


