.file-sys-panel{
  position: absolute;
  top: 38px;
  bottom: 0px;
  left: 0;
  /*right: 40%;*/
  width: 400px;
  overflow: hidden;
  .w {
    /*width: 400px;*/
  }
}
.app-icons{
  width: 15px;
  height: 15px;
  display: inline-block;
  background-size: contain !important;
  vertical-align: middle;
}

.folder{
  background: url("/assets/images/folder-icon.png");
}
.pdf{
  background: url("/assets/images/PDF-icon.png");
}
.note{
  background: url("/assets/images/Notes-icon.png");
}
.ppt{
  background: url("/assets/images/PowerPoint-icon.png");
}
.word{
  background: url("/assets/images/Word-icon.png");
}
.excel{
  background: url("/assets/images/Excel-icon.png");
}

.preview-panel{
  z-index: 300;
  /*min-width: 600px;*/
}
.file-sys-preview{
  position: absolute;
  top: 38px;
  bottom: 0px;
  left: 400px;
  right: 0;
  /*width: 400px;*/
  overflow: hidden;
}
.preview-stage{
  text-align: left !important;
  padding: 10px 20px;

  ol ,ul {
    padding-left: 40px;
  }

  img {
    max-width: 100%;
  }
}
.bread-nav{
  margin-bottom: 7px;
  box-shadow: 1px 1px 3px 1px #A0A39E;
  a {
    color: inherit;
  }
}
.m-l-none{
  margin-left: 0 !important;
}
.file-sys{
  display: table;
  height: 100%;
}
.text-eclipse{
  max-width: 110px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  margin-left: 8px;
}
.editing.text-eclipse{
  overflow: visible;
  word-wrap: break-word;
  white-space: normal;
}

.no-selected{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.file-ml{
  margin-left: 10px;
  max-width: 120px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.col.relative{
  position:relative;
}

.hover:active .hover-action {
  display: none;
}

.hover-anchor:hover>.hover-action, .hover-anchor:focus>.hover-action{
  display: inherit;
}
.fa-folder{
  color: #6798AF;
}
.fa-image{
  /*color: #727A43;*/
}
.fa-file-pdf-o{
  color: #E02148;
}
.fa-file-word-o{
  color: #1634AF;
}
.fa-file-excel-o{
  color: #26923B;
}

.hbox{
  .fol {
    background: #edf1f2;
    z-index: 1;
  }
  .ng-enter-x {
    -webkit-transition: .4s; /* Chrome */
    transition: .4s;
    -webkit-transform: translateX(-100%);
    opacity:0;
    z-index:0;
  }
  .ng-leave-x{
    -webkit-transition: .4s; /* Chrome */
    transition: .4s;
    opacity:1;
    z-index:0;
  }

  .ng-enter.ng-enter-active-x {
    opacity:1;
    -webkit-transform: translateX(0);
  }

  .ng-leave.ng-leave-active-x {
    opacity:0;
    -webkit-transform: translateX(-100%);
  }

}

.msglist-drag {
  @include match_parent();
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 2px dashed #333;
  display: flex;
  align-content: center;
  align-items: center;
  .dragTip {
    text-align: center;
    width: 100%;
    /*font-size: 24px;*/
    font-weight: bold;
  }
}
