<ul class="breadcrumb bg-white b-a bread-nav">
  <li ng-click="home()"><a href=""><i class="fa fa-home"></i> AGroup</a></li>
  <li ng-repeat="folder in level" ng-class="{'active':$last}" ng-click="selectItem(folder,folder.selectedItem)"><a href="">{{ folder.selectedItem.name }}</a></li>
</ul>

<div class="file-sys-panel scrollable hover" scroll-to ng-init="
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false;
  app.hideFooter = true;
  app.content.classname = 'app-content-full';
  ">

<div class="hbox hbox-auto-xs hbox-auto-sm bg-light no-selected">
  <!-- column -->
  <div ng-repeat="folder in level" ng-animate="'animate'" class="col w b-r relative fol" ng-click="clearSelect(folder)">
    <div class="vbox">
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="list-group no-radius no-border no-bg m-b-none">
              <!--<a class="list-group-item b-b focus" ng-class="{'focus': (filter == '')}" ng-click="selectFolder({name:''})">ALL Contacts</a>-->
              <a stop-event ng-repeat="item in folder.files"  ng-dblclick="editItem(item,folder)" class="list-group-item m-l hover-anchor b-a no-select m-l-none"
                ng-class="{'focus ': item.selected}" ng-click="selectItem(folder,item)">
                <span tooltip-html-unsafe="{{ 'markdown.delete' | translate}}" stop-event ng-click="deleteItem(folder,item)" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                <span class="block" ng-class="{'m-n': item.selected }">
                  <!--<fileicon  mimetype="{{item.type}}" filename="{{item.name}}"></fileicon>-->
                  <span class="fa fa-{{ item.type | fileicon }}"></span>
                  <em class="text-eclipse" ng-blur="doneEditing(item)" file-editing class="file-ml" ng-blur="doneEditing(item)"></em></span>
                <!--<input stop-event type="text" class="form-control pos-abt" ng-show="item.editing" file-editing ng-blur="doneEditing(item)" ng-model="item.name" style="top:3px;left:2px;width:98%;padding-left:25px;" >-->
              </a>
            </div>
          </div>
          <dropzone on-drop="onDrop(files,folder)"></dropzone>
        </div>
      </div>
      <div class="wrapper b-t">
        <span tooltip="Double click to Edit" class="pull-right text-muted inline wrapper-xs m-r-sm ng-scope"><i class="fa fa-question"></i></span>
        <a href="" class="btn btn-sm btn-default" ng-click="addItem($index)"><i class="fa fa-plus fa-fw m-r-xs"></i>Folder</a>
      </div>
    </div>
  </div>
  <!-- column -->
  <preview-panel class='col'></preview-panel>
  <!-- /column -->
</div>
</div>

<uploadpanel control="uploadpanel" style="display: none;"></uploadpanel>
