.m-l-none{
  margin-left: 0 !important;
}

.no-selected{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.file-ml{
  margin-left: 10px;
  max-width: 120px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
}
.col.relative{
  position:relative;
}

.hover:active .hover-action {
  display: none;
}

.hover-anchor:hover>.hover-action, .hover-anchor:focus>.hover-action{
  display: inherit;
}

.msglist-drag {
  @include match_parent();
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 2px dashed #333;
  display: flex;
  align-content: center;
  align-items: center;
  .dragTip {
    text-align: center;
    width: 100%;
    /*font-size: 24px;*/
    font-weight: bold;
  }
}
