.navbar-default .navbar-brand {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Light", "Helvetica Neue", Helvetica;
  font-weight: 100;
  font-size: 22px;
  -webkit-font-smoothing: subpixel-antialiased;
}

#nav-search {
  padding: 0;
}