<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">agroup</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            FEX <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">END</a></li>
            <li><a href="#">FIS</a></li>
            <li><a href="#">AGroup</a></li>
            <li class="divider"></li>
            <li><a href="#">#热门#</a></li>
          </ul>
        </li>
        <li class="active">
          <a href="#">全部</a>
        </li>
        <li>
          <a href="#">文档</a>
        </li>
        <li>
          <a href="#">文件</a>
        </li>
        <li>
          <a href="#">任务</a>
        </li>
      </ul>

      <form class="navbar-form navbar-right" role="search" id="nav-search">
        <input type="text" class="form-control" placeholder="检索">
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="!isLoggedIn">
          <a href="#">{{ user.name }}</a>
        </li>
        <li ng-hide="!isLoggedIn">
          <a href="/auth/logout" target="_self">退出</a>
        </li>
      </ul>

      <a ng-hide="isLoggedIn" href="/auth/login" target="_self">
        <button type="button" class="btn btn-default navbar-btn navbar-right">登录</button>
      </a>
    </div>
  </div>
</div>
