
<ul class="list-group no-borders pull-in m-b-none">
    <li class="list-group-item" ng-repeat="item in list">
        <a ng-href="{{item.filepath}}" class="h4 text-primary m-b-sm m-t-sm block">{{item.filename}}</a>
        <p ng-bind-html="item.text" class="file-content"></p>

        <!--<p><span class="label bg-primary pos-rlt m-r inline wrapper-xs"><i
                class="arrow right arrow-primary"></i> Tags:</span> <a href class="m-r-sm">admin</a> <a
                href>app</a>
        </p>-->
    </li>
</ul>
<pagination ng-change="pageChanged()" total-items="totalItems" ng-model="currentPage" max-size="10" class="pagination-sm m-t-none m-b" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
        