.imageitem-img {
  max-width: 200px;
  max-height: 200px;
}

fileitem {
  .file-li {
    display: inline-block;
    margin: 0px 20px;
  }
  .img-container {
    position: relative;
    display: inline-block;
    .fa-play-circle-o{
      position: absolute;
      left: 50%;
      top:50%;
      font-size: 48px;
      margin-left: -20.5px;
      margin-top:-24px;
      color:#fff;
      opacity: 0.6;
    }
  }
  .coverLoading {
    width: 160px;
    height: 200px;
    line-height: 200px;
    padding: 0 20px;
    border: 1px solid #0E2231;
    .progress {
      height: 16px;
      display: inline-block;
      width: 100%;
      margin: 0;
      .progress-bar {
        line-height: 16px;
        font-weight: bold;
      }
    }
  }
}
