<div ng-repeat="item in data.list" class="file-li" >
    <div ng-if="item.cover" ng-switch on="!!item.isImg">
        <a class="img-container" ng-switch-when="true" blueimp-href="{{item.filepath}}" blueimp-cover="{{item.cover}}" blueimp-title="{{item.filename}}" blueimp-type="{{item.mimetype}}" ng-click="onGallery($event)">
            <img class="imageitem-img img-thumbnail" image-resize="{{item.cover}}" image-resize-width="200" image-resize-height="200" title="{{item.filename}}"/>
            <i class="fa fa-play-circle-o" ng-show="item.isVideo"></i>
        </a>

        <div ng-switch-default>
            <img ng-hide="!item.coverLoad" ng-error="onCoverError(item)" ng-load="onCoverLoad(item)"
                 ng-click="onimgclick(item)" class="imageitem-img img-thumbnail" image-resize="{{item.cover}}"
                 image-resize-width="200" image-resize-height="200" title="{{item.filename}}" style="cursor: pointer"/>

            <div class="coverLoading" ng-hide="item.coverLoad">
                <div class="progress-striped progress active progress-xs">
                    <div class="progress-bar  progress-bar-success" data-toggle="tooltip" data-original-title="100%"
                         style="width: 100%">
                        <span>处理中...</span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <p style="margin-top: 10px;font-weight: bold;" ng-switch on="item.isMK">

      <a ng-switch-when="true" ng-href="/editor/{{ group.id }}?file={{item.file_id}}&view=true" target="_blank"
        style="font-size: 15px;color: #23b7e5;text-decoration: underline;">
        <fileicon style="font-size: 26px;" mimetype="{{item.mimetype}}" filename="{{item.filename}}"></fileicon>
        <span>{{item.filename}}</span>
      </a>

        <a ng-switch-default ng-href="{{item.filepath}}?filename={{item.filename}}" target="_blank"
           style="font-size: 15px;color: #23b7e5;text-decoration: underline;">
            <fileicon style="font-size: 26px;" mimetype="{{item.mimetype}}" filename="{{item.filename}}"></fileicon>
            <span>{{item.filename}}</span>
        </a>
    </p>
</div>


