.jiao-biao{
  font-style: normal;
  font-size: 12px;
  color: #E71818;
  top: -19px;
  right: -34px;
  display: inline-block;
  position: absolute;
}

common-header{
  .nav{
    .dropdown-menu{
      .long-name{
        width: 100px;
        font-size: .5em;
      }
    }
  }
  .list-unstyled .long-name{
    max-width:50%;
  }
}
