<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a href="/" class="navbar-brand text-lt dropdown-toggle" aria-haspopup="true" aria-expanded="false">
      <span class="hidden-folded m-l-xs" style="position:relative">
        {{app.name}}
        <i class="jiao-biao">alpha</i>
      </span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav m-l-sm hidden-xs" ng-hide="app.isHome">
        <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->

    <!-- search form -->
    <!--<form onsubmit="return false;" style="display: none;" ng-submit="onSearch()" class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse"
          role="search">
        <div class="form-group">
            <div class="input-group">
                <input type="text" ng-model="keyword"
                       typeahead="state for state in states | filter:$viewValue | limitTo:8"
                       class="form-control input-sm bg-light no-border rounded padder" placeholder="agroup一下,你就知道" onsubmit="return false;" ng-submit="onSearch()">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </div>
    </form>-->
    <!-- / search form -->

    <ul class="nav navbar-nav hidden-sm" >
      <li class="dropdown pos-stc" ng-hide="app.isHome">
        <a href="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
          <span>群组 : {{ module.group.name }}</span>
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu wrapper w-full bg-white">
          <div class="row">
            <div class="col-sm-4 b-l b-light" ng-repeat="col in collections">
              <div class="m-l-xs m-t-xs m-b-xs font-bold">{{col.name}} <span class="label label-sm bg-primary">{{ col.groups.length }}</span></div>
              <div class="row" style="font-size:20px;">
                <div class="col-xs-6">
                  <ul class="list-unstyled l-h-2x">
                    <li ng-repeat="item in col.groups" ng-if="$even">
                      <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                      <!--<img class="imageitem-img img-circle" image-resize="{{group.logo}}" image-resize-width="15" image-resize-height="15" title="" />-->
                      <a href="/{{item.name}}/{{module.path}}">
                        {{ item.name }}
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-6">
                  <ul class="list-unstyled l-h-2x">
                    <li ng-repeat="item in col.groups" ng-if="$odd">
                      <i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>
                      <a href="/{{item.name}}/{{module.path}}">
                        <!--<img class="imageitem-img img-circle" image-resize="{{group.logo}}" image-resize-width="15" image-resize-height="15" title="" />-->
                        {{ item.name }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li ui-sref-active="active">
        <a ng-click="createGroup()" href="">创建群组</a>
      </li>

    </ul>

    <!-- nabar right -->


    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a href="https://github.com/fex-team/agroup/issues/new" target="_blank">Q&A</a>
        </li>
        <!--<li class="dropdown hidden-sm" is-open="lang.isopen">-->
            <!--<a href class="dropdown-toggle" data-toggle="dropdown">-->
                <!--{{selectLang}} <b class="caret"></b>-->
            <!--</a>-->
            <!--[> dropdown <]-->
            <!--<ul class="dropdown-menu animated fadeInRight w">-->
                <!--<li ng-repeat="(langKey, label) in langs">-->
                    <!--<a ng-click="setLang(langKey, $event)" href>{{label}}</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--[> / dropdown <]-->
        <!--</li>-->
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <!--<li class="dropdown">
            <a href class="dropdown-toggle">
                <i class="icon-bell fa-fw"></i>
                <span class="visible-xs-inline">Notifications</span>
                <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
            <div class="dropdown-menu w-xl animated fadeInUp">
                <div class="panel bg-white">
                    <div class="panel-heading b-light bg-light">
                        <strong>You have <span>2</span> notifications</strong>
                    </div>
                    <div class="list-group">
                        <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="img/a0.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                        </a>
                        <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                        </a>
                    </div>
                    <div class="panel-footer text-sm">
                        <a href class="pull-right"><i class="fa fa-cog"></i></a>
                        <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                    </div>
                </div>
            </div>
        </li>-->
        <li class="dropdown">
            <a href class="dropdown-toggle clear" data-toggle="dropdown" style="height: 50px;">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <div class="_avatar" image-resize="{{__user.avatar}}" image-resize-width="40" image-resize-height="40" style="max-width: 40px;max-height: 40px;" alt="{{__user.nickname}}"></div>
                <i class="on md b-white bottom"></i>
              </span>
                <span class="hidden-sm hidden-md">{{__user.nickname}}</span> <!--<b class="caret"></b>-->
            </a>

            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a href  ui-sref="app.setting({name:module.group.name})">
                        <span>个人设置</span>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="access.signin">Logout</a>
                </li>
            </ul>

        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
