<div class="vbox">

    <div class="b-b b-light" style="margin-bottom: 10px;">
        <div>
            <a class="pull-left thumb-sm avatar"><span class="_avatar" image-resize-width="40" image-resize-height="40" image-resize="{{__user.avatar}}" alt="{{__user.nickname}}"></span></a>

            <div class="m-l-xxl">
                <form class="m-b-none ng-pristine ng-valid" _lpchecked="1" onsubmit="return false;"
                      ng-submit="onPostMessage()">
                    <div class="input-group">
                        <input ng-paste="onpaste($event)" ng-model="postText" ng-trim="true" placeholder="发送文本消息" type="text" class="form-control input-lg">
                        <div class="input-group-btn dropdown">
                            <button type="submit" class="btn btn-lg btn-info" tabindex="-1">发送</button>
                            <button type="button" class="btn btn-lg btn-info dropdown-toggle" style="padding: 10px 7px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li style="position: relative;"><a href="" style="padding: 10px 15px;">文件上传</a><input type="file" multiple="multiple"  onchange="angular.element(this).scope().onSelectFile(this)" style="opacity: 0;cursor:pointer;"  class="match_parent"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="cell list-container" infinite-scroll="loadList(module.group)" infinite-scroll-disabled="!hasMore" infinite-scroll-immediate-check="false">
            <div class="m-b b-l m-l-md streamline">
                <msgitem group="module.group" data="item" ng-repeat="item in msglist" ng-show="item.status=='Vision'"></msgitem>
                <div style="font-size: 30px;text-align: center;" ng-show="hasMore">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<dropzone on-drop="onDrop(files)"></dropzone>
<uploadpanel control="uploadpanel" style="display: none;"></uploadpanel>
