<!--
<form ng-submit="onPostMessage()" onsubmit="return false;">
  <div class="msglist-form">
    <div class="msglist-form-left">
      <span class="control-label">@</span>
    </div>
    <div class="msglist-form-right">
      <input type="text" ng-model="postText" class="message-input" placeholder="发送消息给{{group.name}}">

      <div class="upload-process" ng-show="upload_process>=0" ng-init="upload_process=-1">
        <div class="upload-process-percent" ng-style="{'width':upload_process+'%'}"></div>
        <div class="upload-process-text">正在上传中({{upload_process}}%)</div>
      </div>
    </div>


  </div>
</form>
<div class="msglist-box">
  <msgitem data="item" ng-repeat="item in msglist"></msgitem>
</div>

<div class="msglist-drag" ng-show="dragTip" msglist-drag="1" ng-init="dragTip=false">
  <div class="dragTip">将文件拖拽到这里上传</div>
</div>

-->

<div class="vbox">

    <div class="b-b b-light" style="margin-bottom: 10px;">
        <div>
            <a class="pull-left thumb-sm avatar"><img image-resize-width="40" image-resize-height="40" image-resize="{{__user.avatar}}" alt="{{__user.name}}"></a>

            <div class="m-l-xxl">
                <form class="m-b-none ng-pristine ng-valid" _lpchecked="1" onsubmit="return false;"
                      ng-submit="onPostMessage()">
                    <div class="input-group">
                        <input ng-paste="onpaste($event)" ng-model="postText" placeholder="发送消息给" type="text" class="form-control input-lg">
                        <div class="input-group-btn dropdown">
                            <button type="submit" class="btn btn-lg btn-info" tabindex="-1">发送</button>
                            <button type="button" class="btn btn-lg btn-info dropdown-toggle" style="padding: 10px 7px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li style="position: relative;"><a href="" style="padding: 10px 15px;">文件上传</a><input type="file" onchange="angular.element(this).scope().onSelectFile(this)" style="opacity: 0;cursor:pointer;"  class="match_parent"/></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row-row">
        <div class="cell" infinite-scroll="loadList()" infinite-scroll-disabled="!hasMore" infinite-scroll-immediate-check="false">
            <div class="m-b b-l m-l-md streamline">
                <msgitem data="item" ng-repeat="item in msglist"></msgitem>
                <div style="font-size: 30px;text-align: center;" ng-show="hasMore">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>

            </div>
        </div>
    </div>
</div>
<dropzone on-drop="onDrop(files)"></dropzone>
<uploadpanel control="uploadpanel" style="display: none;"></uploadpanel>
